[submodule "js/vendor/waypoints"]
	path = js/vendor/waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "js/vendor/stellar"]
	path = js/vendor/stellar
	url = https://github.com/markdalgleish/stellar.js.git
[submodule "js/vendor/placeholder"]
	path = js/vendor/placeholder
	url = https://github.com/UmbraEngineering/Placeholder.git
